<h3>AÑADIR TAREA</h3>
Tarea: <input type = "text" name = "texto_tarea" [(ngModel)] = "texto_tarea"/> <br>
<!--Estado: <input type = "checkbox" name = "estado_tarea" [(ngModel)] = "estado_tarea"/>-->
Estado: Activa: <input type = "radio" name = "estado_tarea" value = "true" [(ngModel)] = "estado_tarea"/>
        Terminada: <input type = "radio" name = "estado_tarea" value = "false" [(ngModel)] = "estado_tarea"/>
<br><br>
<button (click) = "crear_tarea( texto_tarea, estado_tarea )">Crear tarea</button>
<hr>
<h3>LISTA DE TAREAS</h3>
<ul *ngFor = "let t of lista_tareas" >
  <li>Tarea:  {{ t.get_texto_tarea() }}</li>
  <li>Id:     {{ t.get_id_tarea() }}</li>
  <li>Estado: {{ t.get_estado_tarea() }}</li> <br>
  <button (click) = "eliminar_tarea( t.get_id_tarea() )">Eliminar tarea</button>
</ul>

